<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- This file exists only to support the pre-preview build (i.e., before the packages
         are published to nuget.org). It will not be present in later previews or the final release -->
    <add key="ASP.NET CI" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json" />
  </packageSources>
</configuration>
